[Unit]
Description=KVM-QEMU-SafeBox host/LAN guard
Documentation=https://github.com/BlackRabbitZ/kvm-qemu-safebox
After=nftables.service
Before=libvirtd.service libvirtd.socket virtqemud.service virtqemud.socket virtnetworkd.service virtnetworkd.socket

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/libexec/safebox/apply-firewall.sh /etc/safebox/safebox-guard.nft
ExecReload=/usr/local/libexec/safebox/apply-firewall.sh /etc/safebox/safebox-guard.nft

[Install]
WantedBy=multi-user.target
